.main-about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.flex-educacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-wrap: wrap;
}
.flex-certificaciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-wrap: wrap;
}
.card-tecnologias {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  padding: 3rem 4em;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  margin-inline: 2rem;
}
.card-titulos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 30rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}
