body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #2c3e50, #6c7a89, #a9cce3, #2c3e50);
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
  font-family: "Switzer", sans-serif;
  color: #fcfdfe;
}
@media (max-width: 600px) {
  body {
    font-size: 0.95rem;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
hr {
  border: none;
  height: 2px;
  background: linear-gradient(90deg, transparent, #faf9f9, transparent);
  animation: shine 2s infinite;
  margin: 4rem auto;
  width: 80%;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
