body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #2c3e50, #6c7a89, #a9cce3, #2c3e50);
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;
  font-family: "SF Pro", sans-serif;
  color: #ffffff;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
